src/main/mule/jenk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a880d866-8c38-4df9-ad3a-a6af8b3364ff" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkFlow" doc:id="fe254c38-8a8f-4509-b353-1f178bd6eb2f" >
		<http:listener doc:name="Listener" doc:id="87725379-2033-4ecd-a6fe-31821aa1515f" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="429a7c99-8616-4631-872f-6c8a6fcff529" message="#['Message received at ' ++ (now() as String)]"/>
		<set-payload value="#['Hello at ' ++ (now() as String)]" doc:name="Set Payload" doc:id="0e8d6c65-042a-4a1c-a824-1f9c805f46ef" />
	</flow>
</mule>
